<h1 align="center">Medical App</h1>

<img src="http://www.swankpets.com/images/senior%20citizen%20couple.jpg" alt="Senior Citizens">

<p>This application is used to remind senior citizens of all the medications that need to be taken through the day</p>
