/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.navbar-inner {
  background-color: #000; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.panel{
	position:absolute;
	background-color:rgba(255,255,255,.5);
	text-align: left;
	text-align: left;
	width:620px;
	padding:20px;
	margin: center;
    top:60%;
    left:0%;
}

.panel2{
	position:absolute;
	background-color:rgba(255,255,255,.5);
	text-align: center;
	text-align: center;
	width:420px;
	padding:10px;
	margin: center;
    top:60%;
    left:31%;
}

.panel3{
	position:absolute;
	background-color:rgba(255,255,255,.5);
	text-align: center;
	text-align: center;
	width:420px;
	padding:10px;
	margin: center;
    top:90%;
    left:31%;
}